@{
    ViewData["Title"] = "Home Page";
}
@model lost_woods.Models.Trail

<h1>Lost in the Woods</h1> <h3>List of local hiking trails</h3>

<table>
    <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation Change</th>
    </tr>
    @foreach(var trail in @ViewBag.Trails)
    {
        <tr>
            <td><a href="/trail/@trail.id">@trail.name</a></td>
            <td>@trail.length Miles</td>
            <td>@trail.elevation feet</td>
        </tr>
    }    
</table>

<form action="/trail/new" method="get">
    <input type="submit" value="Add a New Trail">
</form>
